<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="RunClassName" value="dbbackup"/>
        <add key="dbWrite" value="server=mysqlops.mkurl.cn;database=ops;uid=ops_w;pwd=xNxHdDzobFbSD7d1"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>