<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="RunClassName" value="dbbackup"/>
        <add key="dbWrite" value="server=172.18.1.1;database=beinet;uid=beinet;pwd=xNxH!dDzo*_SD7d1"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>