<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true" throwExceptions="false" internalLogLevel="Off">
  <variable name="logdir" value="${basedir}/logs/${date:format=yyyyMM}"/>

  <targets async="false"  keepFileOpen="false">
    <!-- to limit per file max size: archiveAboveSize="5000000" -->
    <default-target-parameters xsi:type="File" layout="${longdate} ${level:uppercase=true} ${processid} --- [${threadid}] ${logger} : ${message:withException=true}" encoding="utf-8" />
    <default-wrapper xsi:type="BufferingWrapper" bufferSize="100" flushTimeout="10000"/>
    
    <target name="All" xsi:type="File" fileName="${logdir}/all/${date:format=yyyyMMddHH}.log" />
    <target name="Error" xsi:type="File" fileName="${logdir}/all/error_${date:format=yyyyMMddHH}.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="All" />
    <logger name="*" minlevel="Error" writeTo="Error" />
  </rules>
</nlog>
